<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LZQWebShop</title>
    <script type="text/javascript" src="/javascript/util.js"></script>
    <script type="text/javascript" src="/javascript/userHead.js"></script>
    <script type="text/javascript" src="/javascript/goodsDetailPage.js"></script>
</head>
<body>
	<div id="pageHead">
		<img src="http://47.106.15.81:8080/img/goodsImg/ravi.png" id="homeImg">
		<div id="userinfo">
			<a id="loginOrUserName">登陆</a>|<a id="registerOrLogouot">注册</a>
		</div>
	</div>
    <div>
        <img src="">
        <label id="goodsName" th:text="${goodsName}">商品名称</label>
        <label id="price" th:text="${goodsPrice}">商品价格</label>
        <label id="stock" th:text="${goodsStock}">商品库存</label><br>
        <button id="subCount">-</button>
        <input type="text" id="countBox" value=1 onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')"/>
        <button id="addCount">+</button>
        <button id="addToCart" onclick="onAddToCart()">加入购物车</button>
    </div>
    <script>
        setHomeImage();
        var username='[[${userName}]]';
        setUserState(username);
        setCountSetter();
        if(username=='')
        {
            let button=document.getElementById("addToCart");
            button.disabled=true;
            button.innerHTML="请登录后再挑选商品";
        }
        else
        {
            listenToServer(username);
        }
    </script>
</body>
</html>