<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LZQWebShop</title>

    <script type="text/javascript" src="/javascript/util.js"></script>
    <script type="text/javascript" src="/javascript/userHead.js"></script>
    <script type="text/javascript" src="/javascript/goodslist.js"></script>
    <script type="text/javascript" src="/javascript/pageSelector.js"></script>

    <link rel="stylesheet" type="text/css" href="css/generalStyle.css">
</head>
<body>
	<div id="pageHead">
		<div class="imgCenter"><img src="http://47.106.15.81:8080/img/goodsImg/ravi.png" id="homeImg"></div>
		<div id="userinfo">
			<a id="loginOrUserName">登陆</a>|<a id="registerOrLogouot">注册</a>
		</div>
	</div>
	<div id="searcher">
			商品搜索:<input type="text" id="searchBar" placeholder="按名称搜索">
      <label for="">排序方式:</label>
      <select name="" id="sortParam">
        <option value="name">名字</option>
        <option value="price">价格</option>
        <option value="stock">库存</option>
      </select>
      <select name="" id="sortWay">
        <option value=false>升序</option>
        <option value=true>降序</option>
      </select>
			<input type="submit" value="搜索" id="searchButton">
	</div>
  <div id="listhead">
    <h2>商品列表</h2>
  </div>
	<div id="goods">
    <ol id="goodslist">
    </ol>
	</div>
  <div>
    <button type="button" id="previous">上一页</button>
    跳转到:<input type="text" id="pagebox" placeholder="页数">
    <button type="button" id="jumpto">跳转</button>
    <button type="button" id="next">下一页</button>
  </div>
  <script type="text/javascript">
    setHomeImage();
    var username='[[${userName}]]';
    setUserState(username);
    setSearch();
    var liststr='[[${goodsList}]]';
    showList(liststr.replace(/&quot;/g,"\""));
    setPageSelector();
    console.log(getAllUrlParam());
    console.log(mapToGetParam(getAllUrlParam()));
  </script>
</body>
</html>
