<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src="/javascript/util.js"></script>
    <script type="text/javascript" src="/javascript/register.js"></script>
</head>
<body>
    <img src="http://47.106.15.81:8080/img/goodsImg/ravi.png" id="homeImg">
    <form action="/register" method="post">
        用户名：<input type="text" name="username" /><br/>
        密码：<input type="password" name="password" /><br/>
        确认密码：<input type="password" name="confirmpassword" /><br/>
        电子邮箱:<input type="text" name="email" /><br/>
        验证码:<input type="text" name="validationCode" />
        <button type="button" id="requestValidation" onclick="requestForValidationCode()">获取验证码</button>
        <label id="validationButtonHint">一分钟内只能请求一次验证码</label><br/>
        <input type="submit" value="注册" />
    </form>
    <script type="text/javascript">
        setHomeImage();
        let validationButtonHint=document.getElementById("validationButtonHint");
        validationButtonHint.style="display:none";
    </script>
</body>
</html>
