<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text='${userName}'>个人信息</title>
  <script type="text/javascript" src="/javascript/util.js"></script>
  <script type="text/javascript" src="/javascript/userHead.js"></script>
  <script type="text/javascript" src="/javascript/pageSelector.js"></script>
  <script type="text/javascript" src="/javascript/orderlist.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/generalStyle.css">
  <link rel="stylesheet" type="text/css" href="/css/userInfoPage.css">
</head>
<body>
  <div id="pageHead">
    <img src="http://47.106.15.81:8080/img/public/homeImg" id="homeImg">
    <div id="userinfo">
			<a id="loginOrUserName">登陆</a>|
			<a id="registerOrLogouot">注册</a>
		</div>
  </div>
  <div id="listhead">
    <h2>全部订单</h2>
  </div>
  <div id="operation">
    <button class="commonButton" type="button" id="cancelbutton">删除订单</button>
    <button class="commonButton" type="button" id="paybutton">支付订单</button>
  </div>
  <table id="orderlist">
    <tr id="ordertablehead">
      <th>/</th>
      <th>订单号</th>
      <th>商品名称</th>
      <th>数量</th>
    </tr>
  </table>
  <div id="pageSelect">
    <button class="commonButton" type="button" id="previous">上一页</button>
    跳转到:<input type="text" id="pagebox" placeholder="页数">
    <button class="commonButton" type="button" id="jumpto">跳转</button>
    <button class="commonButton" type="button" id="next">下一页</button>
  </div>
  <script type="text/javascript">
    setHomeImage();
    var username='[[${userName}]]';
    setUserState(username);
    listenToServer(username);
    var liststr='[[${orderList}]]';
    showList(liststr.replace(/&quot;/g,"\""));
    setPayAndCancelButton();
    setPageSelector();
  </script>
</body>
</html>
