body{
    margin-left: 10%;
    margin-right: 10%;
}

#userinfo{
    display: inline-block;
    color: white;
    text-align: center;
    background-color:deepskyblue;
    margin-left: auto;
    padding: 1%;
    float: right;
}

#homeImg{
    display: inline-block;
    width: 20%;
    height: auto;
}

#searcher{
    display: block;
    text-align: center;
}

#listhead{
    background-color: dodgerblue;
}

li{
    display: inline-block;
    background-color: lightblue;
    margin: 5px;
}