#userinfo{
    color: white;
    text-align: right;
    background-color:deepskyblue;
}

#homeImg{
    width: 200px;
    height: 150px;
}

#searcher{
    text-align: center;
}

.imgCenter{
    margin:20px;
    text-align: center;
}